<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Auditorias</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>controller.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCrearUsuario</display-name>
    <servlet-name>ServletCrearUsuario</servlet-name>
    <servlet-class>controller.ServletCrearUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCrearUsuario</servlet-name>
    <url-pattern>/ServletCrearUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCalendario</display-name>
    <servlet-name>ServletCalendario</servlet-name>
    <servlet-class>controller.ServletCalendario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCalendario</servlet-name>
    <url-pattern>/ServletCalendario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAuditorias</display-name>
    <servlet-name>ServletAuditorias</servlet-name>
    <servlet-class>controller.ServletAuditorias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAuditorias</servlet-name>
    <url-pattern>/ServletAuditorias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCrearAuditoria</display-name>
    <servlet-name>ServletCrearAuditoria</servlet-name>
    <servlet-class>controller.ServletCrearAuditoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCrearAuditoria</servlet-name>
    <url-pattern>/ServletCrearAuditoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCrearProceso</display-name>
    <servlet-name>ServletCrearProceso</servlet-name>
    <servlet-class>controller.ServletCrearProceso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCrearProceso</servlet-name>
    <url-pattern>/ServletCrearProceso</url-pattern>
  </servlet-mapping>
</web-app>